[Desktop Entry]
Name=TubeMobile
GenericName=YouTube Mobile Client
Comment=Pemutar YouTube Native Ringan untuk postmarketOS
Exec=/usr/local/bin/tubemobile
Icon=tubemobile
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;GTK;
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
